table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 15px;
    border: 2px solid #529432;
}

th {
    background: #ABDD93;
}

.tableContainer {  
    height:20vh ;
    overflow-y: scroll;
    margin-bottom: 15px;
  
  }